<!DOCTYPE html>
<html>
<head lang="en">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <title>游记</title>
</head>
<body>
<p><%=title%></p>
</body>
</html>